{
  "l1":
  {
    "name": "Ligue 1 Conforama",
    "link": "link/to/l1/results",
    "sport": "football"
  },
  "c1":
  {
    "name": "UEFA Champions League",
    "link": "link/to/c1/results",
    "sport": "football"
  },
  "nl":
  {
    "name": "UEFA Nations League",
    "link": "link/to/nl/results",
    "sport": "football"
  },
  "top14":
  {
    "name": "Top 14",
    "link": "link/to/top14/results",
    "sport": "rugby"
  },
  "nba":
  {
    "name": "NBA",
    "link": "link/to/nba/results",
    "sport": "basketball"
  }
}
